---
http_interactions:
- request:
    method: post
    uri: http://api.ai-applied.nl/api/sentiment_api/
    body:
      encoding: UTF-8
      string: request=%7B%22data%22%3A%7B%22api_key%22%3A%22837b4a6bc73bce85abec5db64dfcde9cab92a1bf%22%2C%22call%22%3A%7B%22return_original%22%3Afalse%2C%22classifier%22%3A%22default%22%2C%22data%22%3A%5B%7B%22text%22%3A%22Sono+molto+contento+di+quello+che+%C3%A8+successo%22%2C%22language_iso%22%3A%22ita%22%2C%22id%22%3A42%7D%5D%7D%7D%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript
    body:
      encoding: UTF-8
      string: '{"status": 1, "id": null, "response": {"data": [{"confidence_sentiment":
        0.735094833636812, "sentiment_class": "positive", "id": 42}], "description":
        "OK: Call processed.", "success": true}}'
  recorded_at: Sun, 26 Oct 2014 09:57:04 GMT
recorded_with: VCR 2.9.3
